{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Third Eye Project</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body id="bg" style="background-image: url('{% static "images/bg.jpg" %}')">
    <div class="card" id="card-principal">
      <div class="card-header bg-dark" id="configdivimg">
          <img class="configimgdoctum" src="static/images/doctum-logo-white.png" alt="Logo Rede de Ensino Doctum">
      </div>
      <div class="card-body">
        <h1 class="card-title">TCC - Third Eye </h1>
        <p class="card-text">
          O objetivo geral deste trabalho é apresentar uma ferramenta que seja capaz de identificar um jogador dentro de campo.
          Para isso, a identificação será feita através da ferramenta na qual será desenvolvida utilizando visão computacional e a biblioteca de processamento de imagens OpenCV.
        </p>
        <hr>
        <div class="container">
            <div class="row">
              <div class="col" >
                <h2 class="card-text" id="text-layout-principal">Professor Orientador:</h2>
                <div class="card" id="cards-layout" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/21321981.jpg" alt="Tales Souza">
                    <div class="card-body" id="carbodyconfig">
                      <h4 class="card-title" align="center">Esp. Tales Wallace Souza</h4>
                      <p class="card-text" id="carddescriptionconfig">Analista de Automação - APERAM SOUTH AMÉRICA</p>
                    </div>
                  </div>
              </div>
              <div class="col">
                <h2 class="card-text">Alunos:</h2>
                <div class="card-group" id="cards-layout">
                    <div class="card">
                      <img class="card-img-top" src="static/images/27380564.jpg" alt="Thayrone Marques">
                      <div class="card-body" id="carbodyconfig">
                        <h5 class="card-title" align="center">THAYRONE MARQUES SILVA</h5>
                        <p class="card-text" id="carddescriptionconfig">Analista I de Desenvolvimento - TOTVS</p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="static/images/30848464.jpg" alt="Vinicius Andrade">
                      <div class="card-body" id="carbodyconfig">
                        <h5 class="card-title" align="center">VINÍCIUS ANDRADE LOPES</h5>
                        <p class="card-text" id="carddescriptionconfig">Etagiário Sistemas de Informação - APERAM SOUTH AMÉRICA</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <hr>
        <a href="{% url 'index_view' %}"class="btn btn-primary">Entrar!</a>
      </div>
    </div>
</body>
</html>